.loader__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: white;
    overflow: hidden;
}

.loader {
    display: block;
    width: 100%;
    height: 250px;
}