.btn {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 38px;
    font: var(--sm-font);
    color: var(--color-text);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: width .3s ease-in-out, height .3s ease-in-out;

    &::before,
    &::after {
        content: "";
        position: absolute;
        height: 19px;
        width: 19px;
        transform: rotate(45deg);
        background-color: #ffffff;
        border: none;
        transition: width .2s ease-in-out, height .2s ease-in-out;
    }

    &::before {
        top: -10px;
        left: -10px;
    }

    &::after {
        bottom: -10px;
        right: -10px;
    }

    @media (min-width: 1024px) {

        &:hover::after, &:hover::before {
            height: 0;
            width: 0;
        }
    }
}

.btnPrm {
    background-color: #9f0013;
}

.btnSec {
    background-color: #5c5c5c;
}

.btnXl {
    background-color: #9f0013;
    width: 170px;
}