@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
    /* Typography */
    --font-family: 'Roboto Condensed', sans-serif;
    --fs-sm: 14px;
    --fs-md: 22px;
    --fs-hg: 24px;
    --fs-lg: 28px;

    --fw-normal: 400;
    --fw-bold: 700;

    --sm-font: var(--fw-normal) var(--fs-sm) / 16px var(--font-family);
    --md-font: var(--fw-bold) var(--fs-md) / 26px var(--font-family);
    --hg-font: var(--fw-bold) var(--fs-hg) / 28px var(--font-family);
    --lg-font: var(--fw-bold) var(--fs-lg) / 33px var(--font-family);

    /* Other */
    --radius: 0.5rem;
    --main-color: #9F0013;
    --hover-shadow: drop-shadow(0px 5px 20px #9F0013);
}

body[data-theme='dark'] {
    --color-text: hsl(0, 0%, 100%);
    --color-bg: hsl(207, 26%, 17%);
    --color-bg-rev: hsl(0, 14%, 4%);
    --color-ui: hsl(209, 23%, 22%);
    --color-title-text: hsl(0, 0%, 100%);
    --shadow: rgba(55, 52, 52, 0.2) 0 0 8px;
}

body[data-theme='light'] {
    --color-text: hsl(0, 0%, 100%);
    --color-bg: hsl(0, 0%, 100%);
    --color-bg-rev: hsla(0, 1%, 14%, 1);
    --color-ui: hsl(0, 0%, 100%);
    --color-title-text: hsl(0, 0%, 0%);
    --shadow: rgba(0, 0, 0, 0.25) 5px 5px 20px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    font-weight: var(--fw-normal);
    font-size: var(--fs-md);
    color: #000;
    /*overflow: hidden;*/

    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}

.mt-5 {
    margin-top: 50px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}