.wrapper {
    width: 650px;
    margin-right: 15px;
    margin-bottom: 50px;

    button {
        display: block;
        margin: 50px auto 0 auto;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
}

.char {
    max-width: 200px;
    margin: 0 auto;
    background-color: var(--color-bg-rev);
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: filter .3s ease-in-out, transform .3s ease-in-out;

    @media (min-width: 1024px) {
        &:hover {
            transform: translateY(-3px);
            filter: drop-shadow(0px 15px 20px #e62429);
        }

        &:hover > .char__body::before {
            transform: translate3d(0, 100%, 0) scale(1.1);
        }
    }

    &__img {
        position: relative;
        width: 200px;
        height: 200px;

        &::after {
            height: 4px;
            content: "";
            background-color: #e62429;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__body {
        height: 120px;
        position: relative;
        padding: 15px 15px 50px 15px;
        overflow: hidden;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 100%;
            width: 100%;
            height: 100%;
            background: #e62429;
            transition: transform .3s cubic-bezier(.75, 0, .125, 1);
            z-index: -1;
        }
    }

    &__title {
        font: var(--md-font);
        color: var(--color-text);
    }
}

