.banner {
    position: relative;
    background-color: var(--color-bg-rev);
    min-height: 100px;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 45px;
        width: 152px;
        height: 100px;
        background-image: url("../../static/img/avengers.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 45px;
        width: 133px;
        height: 100px;
        background-image: url("../../static/img/avengers-logo.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media (max-width: 651px) {

        &::before {
            left: 10px;
        }

        &::after {
            right: 10px;
        }

    }

    @media (max-width: 550px) {

        &::before {
            left: 50%;
            transform: translateX(-50%);
            opacity: .3;
        }

        &::after {
            display: none;
            right: 10px;
        }

    }

    &__body {
        position: relative;
        padding: 20px 20px;
        text-align: center;
        z-index: 1;
    }

    &__title,
    &__subtitle {
        font: var(--hg-font);
        color: var(--color-text);
    }
}